@charset "UTF-8";

/*=== IMPORTANDO FONTE ===*/
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
/*=== VARIAVEL/IMPORTACAO DE FONTE ===*/
:root {
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2: 'Passion One', cursive;
    --font3: 'Sriracha', cursive;
}

/*=== GERAL ===*/
* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;/*tamanho da fonte, esse "em" significa q ela vai ser 3vezes maior q a original */
}
/*=== TEXTO ===*/
html, body {
    min-height: 100vh; /*tamanho minimo do corpo / vh significa: altura da v porte, ou seja, a imagem vai ficar no centro da parte branca */
    background-color: darkgrey; /*cor de fundo */
    font-family: var(--font1);/*fonte da letra, var é a fonte importada */
}
/*=== TITULO ===*/
header {
    background-color: black; /*cor de fundo */
    color: white; /*cor da letra */
    text-align: center; /*centraliza o texto */
}
header > h1 {
    padding: 50px; /*caixa interior */
    /* text-transform: uppercase; /*coloca o texto em letra maiuscula */
    font-variant: small-caps; /*letra maiuscula mas as iniciais da palavra sao maiores do q o restante da palavra */
    font-family: var(--font2);/*fonte da letra, var é a fonte importada */
    font-size: 10vw;/*tamanho da fonte, "vw" largura da tela */
}
header > p {
    padding-bottom: 50px; /*caixa interior para baixo */

}
header a, footer a {
    color: white; /*cor da letra */
    text-decoration: none; /*sublinhado */
    font-weight: bolder; /*negrito */
}
header a:hover, footer a:hover { /*interacao do mouse */
    text-decoration: underline; /*sublinhado */
}
/*=== Corpo-do-texto === */
section {
    padding-top: 10vh; /*caixa interior cima */
    padding-bottom: 10vh; /*caixa interior baixo */
    line-height: 2em; /*espaçamento entre as letras */
    padding-left: 30px; /*caixa interior esquerdo */
    font-family: var(--font3); /*fonte da letra, var é a fonte importada */
    font-size: 3.5vw;/*tamanho da fonte, "vw" largura da tela */
}
section.normal {
    background-color: white; /*cor de fundo */
    color: black; /*cor da letra */
}
section.imagem {
    background-color: rgb(98, 96, 96); /*cor de fundo */
    color: white; /*cor da letra */
}
section.imagem > p {
    display: inline-block; /*ela se adapta ao texto ou seja ela vai aparecer ate onde o texto termina */
    padding: 5px; /*caixa interior */
    background-color: rgba(0, 0, 0, 0.423); /*cor de fundo */
}
/*=== Roda-pe ===*/
footer {
    background-color: black; /*cor de fundo */
    color: white; /*cor da letra */
    text-align: center; /*centraliza o texto */
    padding: 10px; /*caixa interior */
}